################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/index.html
/profile.jpg
/index.html
/profile.jpg
/index.html
/profile.jpg
/index.html
